# ==========================================
# GLOBAL - DocenTrack
# ==========================================

# --- ENTORNOS VIRTUALES ---
backend/.venv/
backend/venv/
backend/env/
.venv/
venv/

# --- VARIABLES DE ENTORNO ---
.env
.env.local
.env.production
.env.development
*.env
!.env.example

# --- BASES DE DATOS LOCALES ---
*.sqlite3
*.db

# --- PYTHON / DJANGO ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/staticfiles/
backend/media/
backend/local_settings.py

# --- NODE / REACT ---
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env.local
frontend/.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- LOGS ---
*.log
logs/

# --- IDEs Y EDITORES ---
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
.DS_Store

# --- SISTEMAS DE CONTROL ---
.git/